<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="baute17@gmail.com">
        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/header.css">
        <link rel="stylesheet" href="../css/sidebar.css">
        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="../css/footer.css">
        <link rel="stylesheet" href="../css/styles.css">
        <title>Trackgenix SA</title>
        <!--FONTS-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
       <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
       <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    </head>
    <body>
         <!--LeftBar-->
        <aside ID="leftBar">
            <div class="conteiner-input">
                <input type="search" placeholder="search">
            </div>
              <div class="sideBar-child">
                  <p class="menu">MENU</p>
                  <nav class="sideBar-child">
                      <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="signUp.html">Sign Up</a></li>
                        <li><a href="login.html">Log In</a></li>
                      </ul>
                  </nav>
                  <h2 class="menu">Get in touch</h2>
                  <p class="p-getintouch">
                      Sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus, 
                      ac varius enim lorem ullamcorper dolore. Proin sed aliquam facilisis ante interdum. 
                      Sed nulla amet lorem feugiat tempus aliquam.
                  </p>

                  <div class="sideBar-child-two-logos">
                          <img src="../images/mail.png" alt="mail">
                          <a href="#">information@trackgenix.tld</a>
                  </div>
                  <div class="sideBar-child-two-logos">
                          <img src="../images/home.png" alt="home">
                          <a href="#">1234 Somewhere Road #8254
                          Nashville, TN 00000-0000</a>
                  </div>
                  <div class="sideBar-child-two-logos">
                          <img src="../images/phone.png" alt="phone">
                          <a href="#">(000) 000-0000</a>

                </div>
        </aside>
        <div class="conteiner">
            <header>
                <div class="spam-conteiner-1">
                    <div class="spam"></div>
                    <div class="spam"></div>
                    <div class="spam"></div>
                </div>
                <h1
                    class="spam-conteiner-2">Trackgenix S.A.</h1>
            </header>

            <main>
                <section class="section-1">
                    <h2 id="subtitle">Welcome to Trackgenix!</h2>
                    <div class="section-1-child1">
                        <p class="p-1">A free website for everyone at Trackgenix!</p>
                        <div class="img-conteiner">
                        <img src="../images/reloj.png" alt="reloj">
                        </div>
                    </div>
                    <div class="section-1-child2">
                        <p>
                            Here, you can register the hours worked in any project for all employees,
                            generate reports and much more.
                        </p>
                        <button>LEARN MORE</button>
                    </div>
                </section>

                <section class="section-2">
                    <h2 class="h2-1">Why can you do?</h2>
                    <div class="conteiner-colum">
                        <div class="colum">
                            <img src="../images/records.jpg" alt="record-hours">
                            <h3>Record hours</h3>
                            <p>Create, modify and delete projects and assign them to any employee/s</p>
                        </div>

                        <div class="colum">
                            <img src="../images/reports.jpg" alt="generate-reports">
                            <h3>Generate</h3>
                            <p>Emit reports to have a better view and understanding of all the projects. </p>
                        </div>

                        <div class="colum">
                            <img src="../images/resources.jpg" alt="manage-resources">
                            <h3>Manage resources</h3>
                            <p>
                                You will be able to see all the information you need 
                                to organize hours of work in the best way possible.
                            </p>
                        </div>

                        <div class="colum">
                            <img src="../images/roles.jpg" alt="designate-roles">
                            <h3>Designate roles</h3>
                            <p>Establish which employee may have a certain role in the project.</p>
                        </div>
                    </div>
                </section>

                <section class="section-3">
                    <h2 class="h2">Why use Trackgenix?</h2>
                    <ul class="list-2">
                        <li>✓  Increase your productivity</li>
                        <li>✓  Track your work</li>
                        <li>✓  Leadership and team management</li>
                        <li>✓  Company decisions</li>
                    </ul>
                </section>

                <section class="section-4">
                    <h2 class="h2">Contact Form</h2>
                    <form class="form">
                        <div class="form-child">
                            <label for="">Name</label>
                            <input class="input-child" type="texto">
                        </div>

                        <div class="form-child">
                            <label for="">Email</label>
                            <input class="input-child" type="email">
                        </div>

                        <div class="form-child-radio">
                            <label for="">Contact area</label>
                            <div class="radio-cheeck">
                                <input type="checkbox" name="Contact area" />
                                <label>Resources</label>
                            </div>
                            <div class="radio-cheeck">
                                <input type="checkbox" name="Contact area" />
                                <label>Commercialization</label>
                            </div>
                            <div class="radio-cheeck">
                                <input type="checkbox" name="Contact area" />
                                <label>Systems</label>
                            </div>
                        </div>

                        <div class="form-child">
                            <label class="input-child" for="">Phone number</label>
                            <input type="text">
                        </div>

                        <div class="form-child-textearea">
                            <label for="">Message</label>
                            <textarea name="message"></textarea>
                        </div>

                        <div class="submit">
                            <input type="submit" value="SENT">
                        </div>
                    </form>
                </section>

                <section class="section-5">
                    <h2 class="h2">Trackgenix History</h2>
                    <p>
                        Trackgenix was founded on April 1, 2014, by college dropouts James Bond and Steve Pitt, who brought to the new company a vision of changing the way people viewed computers. 
                    </p>
                    <p>
                        Objective : Providing the right solutions and getting products into customers' hands with the support of store team members.  
                    </p>
                </section>

                <section class="section-6">
                    <div class="section-6-child">
                        <h2 class="h2">Products</h2>
                        <ol class="orden-list">
                            <li >Functionalities</li>
                            <li >Integrations</li>
                            <li >Downloads</li>
                            <li >Extras</li>
                        </ol>
                    </div>
                    <div class="section-6-child">
                        <h2 class="h2">Business</h2>
                        <ol class="orden-list">
                            <li>About us</li>
                            <li>Clients</li>
                            <li>Resources</li>
                            <li>Blog</li>
                        </ol>
                    </div>
                    <div class="section-6-child">
                        <h2 class="h2">Support</h2>
                        <ol class="orden-list">
                            <li>Help</li>
                            <li>Tutorials</li>
                            <li>API</li>
                            <li>Contact</li>
                        </ol>
                    </div>
                </section>
            </main>

            <footer>
                <p class="p-1">Rosario Argentina</p>
                <div class="network-conteiner">
                    <a href="#"><img class="img" src="../images/linkedin.svg" alt="linkedin" width="50"></a>
                    <a href="#"><img  class="img" src="../images/instagram.svg" alt="linkedin" width="50"></a>
                    <a href="#"><img class="img" src="../images/facebook.svg" alt="linkedin" width="50"></a>
                    <a href="#"><img class="img" src="../images/twitter.svg" alt="linkedin" width="50"></a>
                </div>
                <p class="p-2">Copyright © 2022 Radium Rocket. All rights reserved.</p>
            </footer>
        </div>
    </body>
</html>