body{
    background-color: #fff;
}

a{
   text-decoration: none;
   color: #545454;
}

/*HEADER*/
.header{
    display: inline-block;
    position: absolute;
    left: 377px;
    width: 100%;
    height: 156px;
}

.header h1{
   
    margin-top: 60px;
    margin-left: 110px;
    margin-right: 60px;
    border-bottom: 4px solid #B1D1A4;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 30px;
}
.spam-conteiner{
    position: relative;
    top: 40px;
    left: 30px;
}
.spam{
    height: 5px;
    width: 35px;
    margin-bottom: 10px;
    background-color: #B1D1A4;
    border-radius: 10px;
}

/*SIDE BAR*/
#leftBar{
    display: inline-block;
    position: absolute;
    width: 376px;
    height: 1060;
    border: 1px solid black;
    font-family: 'Roboto', sans-serif;
}

.conteiner{
    padding: 25px;
}

.sideBar-child-one{
    margin-top: 10px;
    margin-bottom: 100px;
}

.sideBar-child-1{
    margin-top: 30px;
    margin-bottom: 60px;
}

.sideBar-child-1 input{
    width: 300px;
    height: 40px;
    margin-top: 20px;
    border-radius: 5px;
    
}

.menu{
    width: 80px;
    margin-bottom: 50px;
    margin-top: 100px;
    border-bottom: 5px solid #B1D1A4;
    font-weight: bold;
    font-size: 28px;
    text-decoration-color: #B1D1A4;
}

.list-1 li{
    margin-bottom: 20px;
    margin-top: 40px;
    border-bottom:1px solid #545454;
    font-size: 18px;
}

.sideBar-child-two{
    margin-top: 20px;
    margin-bottom: 50px;
    border-top: 1px solid #545454;
}

.getInTouch{
    width: 80px;
    border-bottom: 5px solid #B1D1A4;
    padding-top: 60px;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 28px;
    text-decoration-color: #B1D1A4;
}

.p{
    font-size: 18px;
    line-height: 25px;
    color: #545454;
}

.sideBar-child-three{
height: 225px;
padding-top: px;
}

.sideBar-child-home{
    margin-bottom: 5px;
    padding-bottom: 10x;
    padding-top: 10px;
    border-bottom: 1px solid #545454;
}
.sideBar-child-mail{
    margin-bottom: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #545454;

}
.sideBar-child-phone{
    margin-bottom: 5px;
    padding-top: 10px;
}


/*MAIN*/
.main{
    display: inline-block;
    position: absolute;
    top:157px;
    left:377px;
    width: 100%;
    height: 768px;
    overflow: scroll;
    overflow-x: hidden;
}

/*SECTION 1*/
.section-1{
   /* border: 1px solid black;*/
}
.section-1-child{
    display: inline-block;
}
.section-1-child h2{
    width: 455px;
    margin-top: 50px;
    margin-bottom: 80px;
    margin-left: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
}

.p-1{
 width: 495px;
 margin-top: 20px;
 margin-bottom: 80px;
 margin-left: 60px;
 font-family: 'Poppins', sans-serif;
 font-style: italic;
 font-size: 28px;
}
.p-2{
    width: 600px;
    margin-top: 20px;
    margin-bottom:80px;
    margin-left: 60px;
    color: #545454;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
   }
.reloj-img{
    display: inline-block;
    position: absolute;
    top: 45px;
    left: 850px;
}   
.button-lm{
    height: auto;
    margin-top: 20px;
    margin-bottom:80px;
    margin-left: 60px;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
}
.button-lm button{
    width: 150px;
    height: 60px;
    padding: 1px;
    background-color: #B1D1A4;
    border: 1px solid #373867;
    border-radius: 8px;
    font-weight: bold;
    color: #373867;
} 

/*SECTION 2*/
.section-2{
    border-bottom: 1px solid black;
}
.section-2 h2{
    width: 1500px;
    margin-top: 20px;
    margin-left: 110px;
    border-bottom: 4px solid #B1D1A4; 
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 48px;
    
}

.conteiner-colum{
    margin-top: 30px;
    width: 100%;
    height: auto;
}

.colum{
    display: inline-block;
    width: 600px;
    height: 300px;
    margin-left: 10px;
    margin-bottom: 20px;
    background-color: greenyellow;
    border: 1px solid black;
}

.colum-text{
    width: auto;
    height: auto;
    padding: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    background-color: aqua;
    border: 1px solid black;
}
.colum-text h3{
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.colum-text p{
    display: inline-block;
    font-family: 'Poppins', sans-serif;
}
.colum-img img{
    display: inline-block;
    width: 300px;
    height: 300px;
}
.colum-img{
   /*background-color: blueviolet;*/
   width: 300px;
   height:300px;
}

/*SECTION 3*/
.section-3 h2{
    width: 1500px;
    margin-top: 20px;
    margin-left: 110px;
    border-bottom: 4px solid #B1D1A4; 
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 48px;
}

.list-conteiner{
    margin-top: 20px;
    margin-left: 110px;
    border-bottom: 1px solid black;
}

.list-2{
    margin-top: 20px;
    margin-left: 115px;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
}

.list-2 li{
    padding: 30px;
    list-style-image: url('../Images/check.png') ;
}

/*SECTION 4*/
.section-4{
    margin-top: 50px;
    height: auto;
    font-family: 'Poppins', sans-serif;
}
.section-4 h2{
    width: 1500px;
    margin-top: 20px;
    margin-left: 110px;
    margin-bottom: 30px;
    border-bottom: 4px solid #B1D1A4; 
    font-weight: bold;
    font-size: 48px;
}
.form{
    padding: 20px;
    margin-left: 300px;
    margin-bottom: 30px;
    width: 1100px;
    height: auto;
    background-color: #B2D1A5;
}

.form-child{
    display: inline-block;
    width: 500px;
    height: auto;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 25px;
}
.form-child label{
    margin-bottom: 10px;
    font-weight: bold;
}
.form-child input{
    margin-top: 10px;
    padding: 15px;
    height: 30px;
    width: 400px;
}

.form-child-radio{
    display: inline-block;
    width: 500px;
    height: auto;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 25px;
}

.form-child-radio label{
    margin-bottom: 10px;
    font-weight: bold;
}

.form-child-radio input{
    margin-top: 10px;
    padding: 15px;
    height: 30px;
    width: 30px;
}
.input-child{
    height: 40px;
    width: 300px;
    font-size: 25px;
    font-family: arial;
}

.radio-cheeck{
    display: inline-block;
    height: 70px;
    width: 500px;
    padding-top: 1px;
}
.radio-cheeck label{
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
}
.form-child-textearea{
    display: inline-block;
    width: 1000px;
    height: auto;
    margin-top: 30px;
    margin-left: 20px;
    font-size: 25px;
    font-weight: bold;
}

.form-child-textearea textarea{
    display: inline-block;
    width: 1000px;
    height: 190px;
    margin-top: 20px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #9E9E9E;
    border-radius: 3px;
    background-color: #FBFCFB;
    font-size: 30px;
    font-family: arial;
    resize: none; 
}

.submit{
    height: auto;
    margin-top: 20px;
    margin-bottom:80px;
    margin-left: 60px;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
} 
.submit input{
    position: relative;
    left: 700px;
    top: 30px;
    width: 200px;
    height: 50px;
    padding: 1px;
    background-color: #B1D1A4;
    border: 1px solid #373867;
    border-radius: 5px;
    font-weight: bold;
    color: #373867;
}
/*SECTION 5*/
.section-5{
    width: 1200px;
    margin: 100px 50px 50px 350px;
    background-color: #D9E0D6;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    font-family: 'Poppins', sans-serif;
}
.conteiner-one{
    display: inline-block;
    position: relative;
    left: 70px;
    width: 450px;
    height: 500px;
    margin-left: 60px;
}
.conteiner-one-child{
    position: relative;
    top: 43px;
    left: 50px;
    margin-bottom: 10px;
    width: 400px;
}
.conteiner-one-child h2{
    margin-left: 150px;
    font-size: 30px;
    font-weight: bold;
    color: #756464;
}
#history{
    margin-left: 250px;
    margin-top: 15px;
}
.conteiner-one-child p{
    position: relative;
    top: 35px;
    width: 450px;
    height: 80px;
    font-size: 15px;
}
.conteiner-one-child img{
    position: relative;
    top: 106px;
    left: 190px;
    width: 80px;
    height: 80px;
    margin-left: 20px;
}

/*segunda caja amarilla*/
.img-cont img{
    position: relative;
    top: 125px;
    width: 250px;
}

.conteiner-two-child{
    position: relative;
    top: 170px;
    margin-bottom: 10px;
    width: 400px;
    height: 100px;
    font-size: 15px;
}
.conteiner-two-child p{
    width: 200px;
}

/*SECTION 6*/
.section-6{
    margin-top: 50px;
    height: 300px;
}

.list-chil-one{
    display: inline-block;
    width: 300px;
    height: 300px;
    margin-left: 200px;
}

.list-chil-one h2{
    width: 200px;
    margin-top: 20px;
    margin-bottom: 30px;
    border-bottom: 4px solid #B1D1A4;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 28px;
}
.orden-list{
    font-family: 'Poppins', sans-serif;  
    list-style: decimal;
}
.orden-list li{
    margin-left: 30px;
    margin-bottom: 30px;
}

/*FOOTER*/
.footer{
    display: inline-block;
    position: absolute;
    left:377px;
    width: 100%;
    height:198px;
    top:925px;
    border-bottom: 1px solid black;
    border-top: 4px solid #B1D1A4;
    text-align: center;
    font-family: 'Roboto', sans-serif;
} 
.footer-child-1{
    margin-bottom: 5px;
    padding-top: 30px;
    font-size: 16px;
}
.footer-child-2{
    margin-bottom: 5px;
    padding-top: 20px;
    font-size: 16px;
}
.social-network{
    display: inline;
    margin-left: 25px;
}
.footer-child-3{
    margin-bottom: 5px;
    padding-top: 20px;
    font-size: 12px;
}
