header{
display: flex;
justify-content: center;
align-items: center;
position: fixed;
top: 0; 
width: 100%;
height: 100px;
background-color: #EDEDED;
border-bottom:5px solid #B1D1A4;
z-index: 1;
}

.spam-conteiner-1{
    display: flex;
    flex-direction: column;
    flex-direction: center;
    align-items: center;
    flex-grow: 1;
    margin:0px 5px;
    color: #373867;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.spam-conteiner-2{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin:0px 5px;
    color: #373867;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 250%
}

.spam{
    height: 5px;
    width: 35px;
    margin-bottom: 10px;
    background-color: #B1D1A4;
    border-radius: 10px;
}

@media only screen and (min-width: 600px){
    header{
       width: 65%;
    }
    .spam-conteiner-2{
        font-size: 360%;
    }


}