main{
display: flex;
flex-direction: column;
font-family: 'Poppins', sans-serif;
margin: 15px;
}

.h2{
    margin-top: 25px;
    border-bottom: 4px solid #B1D1A4;
    color: #373867;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 25px;
}

/*SECTION ONE*/
.section-1{
    display: flex;
    flex-direction: column;
}

#subtitle{
    flex-grow: 1;
    height: 45px;
    margin-top: 20px;
    color: #373867;
    font-size: 29px;
    font-weight: bold;
}

.section-1-child1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
}
.section-1-child1 p{
    flex-grow: 1;
    margin-left: 10px;
    color: #373867;
    font-size: 28px;
    font-style: italic;
    text-align: center;
}
.section-1-child1 img{
 width: 130px;
}

.section-1-child2{
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   margin-top: 10px;
}

.section-1-child2 p{
    font-size: 24px;
    color: #373867;
    opacity: 0.5;
    
}

.section-1-child2 button{
    align-self: flex-start;
    width: 170px;
    height: 50px;
    margin-top: 20px;
    background-color: #B1D1A4;
    border: 1px solid #373867;
    border-radius: 8px;
    color: #373867;
    font-weight: bold;
    
}

/*SECTION TWO*/
.section-2{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    color: #373867;
}

.conteiner-colum{
    display: flex;
    flex-wrap: wrap;
}
.colum{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.colum img{
    width: 180px;
}
.colum h3{
    margin-top: 10px;
    padding: 5px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
.colum p{
    font-size: 15px;
    text-align: center;
}

/*SECTION THREE*/
.section-3{
    display: flex;
    /* border: 1px solid black; */
    flex-direction: column;
}

.section-3 ul{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

ul li{
    margin-bottom: 25px;
    padding: 10px;
    color: #373867;
    font-size: 18px; 
}

/*SECTION FOUR*/
.section-4{
    display: flex;
    flex-direction: column;
}

.form{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding: 15px;
    background-color: #B2D1A5;
    border: 3px solid #9E9E9E;
    border-radius: 2px;
}

.form-child{
    display: flex;
    flex-direction: column;
    margin: 10px 0px 20px 10px;
    border: 1px solid black;
}
.form-child label{
    margin-bottom: 2px;
    font-size: 20px;
    font-weight: bold;
} 

.form-child input{
    width: 300px;
    height: 40px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    border: 2px solid #9E9E9E;
    border-radius: 5px;
}