main{
display: flex;
flex-direction: column;
font-family: 'Poppins', sans-serif;
margin: 15px;
}

.section-1{
    display: flex;
    flex-direction: column;
    /* border: 1px solid black;   */
}

.section-1 h2{
    flex-grow: 1;
    height: 45px;
    margin-top: 20px;
    color: #373867;
    font-size: 29px;
    font-weight: bold;
    
}

.section-1-child1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
    /* border: 1px solid green; */
}
.section-1-child1 p{
    flex-grow: 1;
    width: 350px;
    margin-left: 10px;
    color: #373867;
    font-size: 28px;
    font-style: italic;
    text-align: center;
}
.section-1-child1 img{
 width: 130px;
}

.section-1-child2{
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   margin-top: 10px;
   /* border: 1px solid green; */
}

.section-1-child2 p{

    font-size: 24px;
    color: #373867;
    opacity: 0.5;
    
}

.section-1-child2 button{
    align-self: flex-start;
    width: 170px;
    height: 50px;
    margin-top: 10px;
    background-color: #B1D1A4;
    border: 1px solid #373867;
    border-radius: 8px;
    font-weight: bold;
    color: #373867;
}